<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>economy</title>
    <link rel="stylesheet" th:href="@{economycss.css}">
</head>
<body>


<div class="sidebar">
    <h2 class="menu-title">Menu</h2>
    <a th:href="@{/opretBil}">Opret bil</a>
    <a th:href="@{/opretKunde}">Opret Kunde</a>
    <a th:href="@{/skadeRegister}">Skade registrering</a>
    <a th:href="@{/rapport}">Rapport</a>
    <a th:href= "@{/economy}"> Økonomi</a>
    <a th:href= "@{/forhaandsaftale}"> Forhåndsaftale</a>
    <a th:href="@{/tilbagelevering}">Tilbagelevering</a>
    <a th:if="${user == null}" th:href="@{/login}">Login</a>
    <a th:if="${user != null}" th:href="@{/logout}">Logout</a>


    <div class="user-info">
        <h1>Velkommen, <span th:text="${user != null ? user.name : 'Gæst'}">User</span></h1>
    </div>
</div>


</body>
</html>