<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" th:href="@{logincss.css}">
</head>
<body>


<div class="login-box">
  <h1>Login</h1>
  <form action="/login" method="post">
    <input type="text" name="username" placeholder="Brugernavn" required>
    <input type="password" name="password" placeholder="Adgangskode" required>
    <button type="submit">Login</button>
  </form>

  <div class="link">
    <a th:href="@{/createAccount}">
      Opret bruger her
    </a>
  </div>

</div>


</body>
</html>