<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>opretBil</title>
    <link rel="stylesheet" th:href="@{opretBilcss.css}">
</head>
<body>
<div class="sidebar">
    <h2 class="menu-title">Menu</h2>
    <a th:href="@{/opretBil}">Opret bil</a>
    <a th:href="@{/skadeRegister}">Skade registrering</a>
    <a th:href="@{/rapport}">Rapport</a>
    <a th:href= "@{/economy}"> Økonomi</a>
    <a th:href="@{/login}">Login</a>

    <div class="user-info">
        <h1>Velkommen, <span th:text="${user != null ? user.name : 'Guest'}">User</span></h1>
    </div>

</div>


</body>
</html>